

  <div class="pagePadding">
    <div class="pagePadding">

  <div class="card card-compact w-96 bg-base-200 shadow-xl">
    <figure><img src="https://cdn.discordapp.com/attachments/923593657486049342/1005566436854472754/IMG_0082.JPG" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title">Nathan Aruna</h2>
      <p>Full stack developer working on Project Focal. Age: 15, Occupation: School</p>
      <div class="card-actions justify-end">
        <button href="https://github.com/NathanArunaaa" class="btn btn-primary">GitHub</button>
      </div>
    </div>
  </div>
  </div>

  <div class="pagePadding">

  <div class="card card-compact w-96 bg-base-200 shadow-xl">
    <figure><img src="https://camo.githubusercontent.com/2bd01d967f182b48ff9726069a0bbbc5d2cb500896d4422f60b76cc3f5f5195a/68747470733a2f2f6d656469612e646973636f72646170702e6e65742f6174746163686d656e74732f3935303836303838303630303439383234362f3936313739373938343835393835323831302f4453434e363936362e4a50473f77696474683d393135266865696768743d363836" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title">Domenico Valentino</h2>
      <p>Full stack developer working on Project Focal. Age: 15, Occupation: School</p>
      <div class="card-actions justify-end">
        <button href="https://github.com/domilx" class="btn btn-primary">GitHub</button>
      </div>
    </div>
  </div>
  </div>
</div>



