<div class="pagePadding">

  <div class="card card-compact w-96 bg-base-200 shadow-xl">
    <figure><img src="https://cdn.discordapp.com/attachments/923593657486049342/1005566436854472754/IMG_0082.JPG"
        alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title">Nathan Aruna</h2>
      <p>Full stack developer working on Project Focal. Age: 15, Occupation: School</p>
      <div class="card-actions justify-end">
        <button href="https://github.com/NathanArunaaa" class="btn btn-primary">GitHub</button>
      </div>
    </div>
  </div>
</div>

<div class="pagePadding">

  <div class="card card-compact w-96 bg-base-200 shadow-xl">
    <figure><img
        src="https://camo.githubusercontent.com/2bd01d967f182b48ff9726069a0bbbc5d2cb500896d4422f60b76cc3f5f5195a/68747470733a2f2f6d656469612e646973636f72646170702e6e65742f6174746163686d656e74732f3935303836303838303630303439383234362f3936313739373938343835393835323831302f4453434e363936362e4a50473f77696474683d393135266865696768743d363836"
        alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title">Domenico Valentino</h2>
      <p>Full stack developer working on Project Focal. Age: 15, Occupation: School</p>
      <div class="card-actions justify-end">
        <button href="https://github.com/domilx" class="btn btn-primary">GitHub</button>
      </div>

    </div>
  </div>



</div>

<div class="pagePadding">

  <div class="card card-compact w-98 bg-base-200 shadow-xl">
    <figure class="p-2">
      <div class="stats shadow">

        <div class="stat">
          <div class="stat-figure text-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              class="inline-block w-8 h-8 stroke-current">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
          </div>
          <div class="stat-title">Users</div>
          <div class="stat-value">31K</div>
          <div class="stat-desc">Since *time*</div>
        </div>

        <div class="stat">
          <div class="stat-figure text-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              class="inline-block w-8 h-8 stroke-current">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4">
              </path>
            </svg>
          </div>
          <div class="stat-title ">Active Users</div>
          <div class="stat-value text-success">4,200</div>
          <div class="stat-desc">↗︎ 400 (22%)</div>
        </div>
      </div>
    </figure>

    <div class="card-body">
      <h2 class="card-title">Project Focal Stats</h2>
      <p>We have nothing to hide. Take a look at the current stats. ‎ ‎ ‎ </p>
      <p> ‎ ‎ ‎‎ </p>
      <p> ‎ ‎ ‎‎ </p>

      <div class="card-actions justify-end">
      </div>

    </div>
  </div>


</div>
