

<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700" rel="stylesheet">
<div id="galaxy" class="container">
  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>


</div>


<div class="grid h-screen place-items-center">
<div class="hero-content  ">
<div class=" text-neutral-content">
  <div class="max-w-md">

    <div class="relative">
      <div class="absolute inset-0 bg-gradient-to-r from-indigo-300 to-purple-700 bg-pink-600 rounded-lg blur"></div>
      <div class="mockup-code">
        <pre data-prefix="$"><code><span class="typed-element"></span>
        </code></pre>
      </div>
    </div>

    <div class="p-3"></div>
    <div class="text-center">
      <p class="mb-5">We are glad to have you here. We encourage you to get started by making an account.
        Happy Focal using stranger</p>
        <a href="/login">
      <button class="btn btn-primary">Get Started</button>
    </a>
    </div>
  </div>
</div>
</div>
</div>
