<div class="p-10">
  <div class="mockup-window border bg-base-300">
    <div class="flex justify-center px-6 py-16 bg-base-200">
      <div class="flex flex-col w-full lg:flex-row">
        <div class="grid flex-grow h-70 card bg-base-300 rounded-box place-items-left">
          <div class="p-3 ">
            <div class="flex flex-row">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="48" height="48" stroke="currentColor" viewBox="0 0 24 24" class="humbleicons hi-user"><path xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 19v-1.25c0-2.071-1.919-3.75-4.286-3.75h-3.428C7.919 14 6 15.679 6 17.75V19m9-11a3 3 0 11-6 0 3 3 0 016 0z"/></svg>
            <div class="stat-value">Account Settings</div>
            </div>
            <div class="divider"></div>
            <div class="form-control w-full max-w-xs">
              <label class="label">
                <span class="label-text">Username</span>
              </label>
              <input type="text" placeholder="myusername123" class="input input-bordered w-full max-w-xs" />
              <label class="label">
              </label>
            </div>
            <div class="flex flex-row">
              <div class="form-control w-full max-w-xs ">
                <label class="label">
                  <span class="label-text">First Name</span>
                </label>
                <input type="text" placeholder="Nathan" class="input input-bordered input-md w-full max-w-xs" />
                <label class="label">
                </label>
              </div>
              <div class="p-3 "></div>


              <div class="form-control w-full max-w-xs">
                <label class="label">
                  <span class="label-text">Last Name</span>
                </label>
                <input type="text" placeholder="Aruna" class="input input-bordered input-md w-full max-w-xs" />
                <label class="label">
                </label>
              </div>


            </div>
            <div class="form-control w-full max-w-xs">
              <label class="label">
                <span class="label-text">Email Address</span>
              </label>
              <input type="text" placeholder="myemail@mail.ca" class="input input-bordered w-full max-w-xs" />
              <label class="label">
              </label>
            </div>
          </div>
        </div>

        <div class="divider lg:divider-horizontal"></div>
        <div class="grid flex-grow h-70 card bg-base-300 rounded-box ">

          <div class="flex flex-col w-full lg:flex-row">
            <div class="grid flex-grow h-70 card bg-base-300 rounded-box place-items-left">
              <div class="p-3 ">
                <div class="flex flex-row">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="48" height="48" stroke="currentColor" viewBox="0 0 24 24" class="humbleicons hi-brush-big"><path xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 16l4.5 4.5 4-4a.707.707 0 011 0M6 16l-2.5-2.5 4-4a.707.707 0 000-1M6 16l2-2m7.5 2.5a.707.707 0 001 0l2.293-2.293a1 1 0 000-1.414l-2.086-2.086a1 1 0 010-1.414l3.586-3.586a1 1 0 000-1.414l-.586-.586a1 1 0 00-1.414 0l-3.586 3.586a1 1 0 01-1.414 0l-2.086-2.086a1 1 0 00-1.414 0L7.5 7.5a.707.707 0 000 1m8 8l-8-8"/></svg>
                <div class="stat-value">Personalization</div>
                </div>
                <div class="divider"></div>

                <div class="flex flex-row">
                  <div class="avatar">
                    <div class="w-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                      <img src="https://placeimg.com/192/192/people" />
                    </div>
                  </div>
                  <div class="p-5 ">


                    <input type="file" class="file-input file-input-bordered file-input-info w-full max-w-xs" />

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="p-7"></div>
      <div class="mockup-window border bg-base-300">
        <div class="flex justify-center px-6 py-16 bg-base-200">
          <div class="flex flex-col w-full lg:flex-row">
            <div class="grid flex-grow h-70 card bg-base-300 rounded-box place-items-left">
              <div class="p-3 ">
                <div class="flex flex-row">
                  <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="none" stroke="currentColor" viewBox="0 0 24 24" class="humbleicons hi-bell"><path xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 17h2m0 0h10M7 17v-6a5 5 0 0110 0v6m0 0h2M11.5 5.5V4a.5.5 0 011 0v1.5M13 20a1 1 0 11-2 0h2z"/></svg> <div class="stat-value">Notifications</div>
</div>
                <div class="divider"></div>
                <div class="form-control w-full max-w-xs">
                  <label class="label">
                    <span class="label-text">Username</span>
                  </label>
                  <input type="text" placeholder="myusername123" class="input input-bordered w-full max-w-xs" />
                  <label class="label">
                  </label>
                </div>
                <div class="flex flex-row">
                  <div class="form-control w-full max-w-xs ">
                    <label class="label">
                      <span class="label-text">First Name</span>
                    </label>
                    <input type="text" placeholder="Nathan" class="input input-bordered input-md w-full max-w-xs" />
                    <label class="label">
                    </label>
                  </div>
                  <div class="p-3 "></div>


                  <div class="form-control w-full max-w-xs">
                    <label class="label">
                      <span class="label-text">Last Name</span>
                    </label>
                    <input type="text" placeholder="Aruna" class="input input-bordered input-md w-full max-w-xs" />
                    <label class="label">
                    </label>
                  </div>


                </div>
                <div class="form-control w-full max-w-xs">
                  <label class="label">
                    <span class="label-text">Email Address</span>
                  </label>
                  <input type="text" placeholder="myemail@mail.ca" class="input input-bordered w-full max-w-xs" />
                  <label class="label">
                  </label>
                </div>
              </div>
            </div>

            <div class="divider lg:divider-horizontal"></div>
            <div class="grid flex-grow h-70 card bg-base-300 rounded-box ">

              <div class="flex flex-col w-full lg:flex-row">
                <div class="grid flex-grow h-70 card bg-base-300 rounded-box place-items-left">
                  <div class="p-3 ">
                    <div class="flex flex-row">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" width="48" height="48" viewBox="0 0 24 24" class="humbleicons hi-lock"><path xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14v2m-4-6V8a4 4 0 118 0v2m-9 9h10a1 1 0 001-1v-7a1 1 0 00-1-1H7a1 1 0 00-1 1v7a1 1 0 001 1z"/></svg>                      <div class="stat-value">Security</div>
                    </div>
                    <div class="divider"></div>

                    <div class="flex flex-row">
                      <div class="avatar">
                        <div class="w-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                          <img src="https://placeimg.com/192/192/people" />
                        </div>
                      </div>
                      <div class="p-5 ">


                        <input type="file" class="file-input file-input-bordered file-input-info w-full max-w-xs" />

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>






